*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    overflow-x: hidden;
}

.color-picker{
    position: absolute;
    top: 40%;
    right: 40%;
    background: rgb(214, 214, 214);
    padding: 10px;
    border: solid #777 5px;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 0px 0px 8px black;
}

.color-picker input[type=color]{
    width: 20%;
    height: 30px;
    display: block;
    margin: 10px auto;
}

.color-picker button{
    width: 25%;
    display: inline-block;
    padding: 2px 5px;
    background: white;
    border-radius: 5px;
}

#plain-color-submit{
    background: rgb(213, 241, 241);
    margin: 10px 0 10px 20%;
}

#plain-color-cancel{
    background: rgb(247, 212, 212);
    margin: 10px 0 10px 10%;
}

.input-section{
    width: 400px;
    height: 580px;
    margin: 50px 0 50px 50px;
}

#paragraph-input-section{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 485px;
    background: #999;
    border-top: solid #999 5px;
    border-right: solid #999 5px;
    border-bottom: solid #999 2px;
    padding-top: 10px;
}

.paragraph-input{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 0 auto 30px auto;
    display: block;
    background: #444;
}

#input-heading{
    margin-top: 3px;
}

.input-extra input{
    width: 244px;
    border: solid #444 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin: 10px 20%;
}

.controll-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 240px;
    height: fit-content;
    margin: 10px auto;
    padding: 5px;
    background: white;
    border: solid black 5px;
    border-radius: 5px;
}

.controll-section input[type=number]{
    width: 40px;
    text-align: center;
    margin: 5px 0px 5px 5px;
    padding: 2px 0;
    display: inline-block;
    /* border-right: solid #999 1px; */
}

.controll-section input[type=text]{
    width: 120px;
    text-align: left;
    margin: 5px 0px 5px 5px;
    padding: 2px 2px;
    display: inline-block;
    /* border-right: solid #999 1px; */
}

#font-color{
    width: 30px;
    border: none;
    margin: 5px auto 0 auto;
    padding-top: 5px;
    background: white;
    display: inline-block;
}

.controll-button{
    padding: 2px 5px;
    margin: 5px auto 5px auto;
    cursor: pointer;
    border: none;
    /* border-right: solid #999 1px; */
    background: white;
    display: inline-block;
}

.controll-button:hover{
    background: #40576d1a;
}

.controll-button:active{
    background: #73b1e333;
    color: #5271ff;
}

.controll-section span{
    font-size: 16px;
}

i{
    font-size: 16px;
}

#font-highlight{
    padding: 2px 0;
}

#font-highlight span{
    background: rgb(255, 242, 140);
    padding: 1px 5px;
}

#font-outline{
    text-shadow: 0 0 2px #ff005d;
}

#font-shadow{
    text-shadow: 1px 1px 3px #215271;
}

#font-blurred {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 5px black;
 }

.text-input{
    width: 244px;
    height: 100px;
    display: block;
    margin: 10px auto 10px auto;
    padding: 5px;
    border-radius: 5px;
    border: solid #999 5px;
    background: white;
    box-shadow: #00000059 0px 5px 15px;
}

/* .visible{
    display: block;
} */

.hidden{
    display: none;
}

#toggle-cover-text{
    width: fit-content;
    padding: 5px;
    margin: 10px auto;
    display: block;
    text-align: center;
    background: rgb(213, 241, 241);
    border: solid black 5px;
    border-radius: 5px;
    cursor: pointer;
}

#add-paragraph{
    width: fit-content;
    padding: 5px;
    display: block;
    margin: 10px auto;
    text-align: center;
    background: rgb(213, 241, 241);
    border: solid black 5px;
    border-radius: 5px;
    cursor: pointer; 
}

.giant-text{
    font-size: 32px;
}

.heading-wrapper{
    background: #333;
    padding-bottom: 10px;
    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
}

h2{
    text-align: center;
    color: rgb(213, 213, 213);
    width: 100%;
}

#output-section{
    margin: 0px 50px 50px 50px;
    display: grid;
}

.output-section-small{
    width: 324px;
    height: 576px;
}

.output-section-large{
    height: 110%;
    width: 110%;
    margin: 0;
}

#tablet{
    background-image: linear-gradient(black, #333, #111, black);
    border-radius: 10px;
    grid-column: 5 / span 6;
    grid-row: 1;
    z-index: 2;
    transform: rotate(2deg);
    box-shadow: 2px 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px black;
    margin: 50px 30px 0 auto;
}


.tablet-small{
    width: 270px;
    height: 414px;
}

#tablet-screen{    
    margin: 15px auto auto auto;
    border-radius: 5px;
    background: white;
}

.page-small{
    width: 244px;
    height: 365px;
}

#download-button{
    margin: 20px 50px 0 0;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    background: rgb(166, 255, 254);
    cursor: pointer;
}

.background-option-section{
    width: 330px;
    height: 576px;
    margin: 50px 0 50px 50px;
    background: #999;   
}

#background-options{
    width: 330px;
    height: 535px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: solid 5px #999;
    border-right: solid 5px #999;
    border-left: solid 5px #999;
    border-bottom: none;
}

.background-option{
    padding: 10px 25px 10px 25px;
    margin: 10px auto 20px auto;
    width: fit-content;
    height: fit-content;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

#own-background-section{
    width: 100%;
}

.own-url{
    width: 280px;
    height: fit-content;
    margin: 10px auto;
    padding: 10px 5px;
    border: solid black 2px;
    border-radius: 5px;
    display: block;
}

.own-url-submit{
    width: 20%;
    padding: 5px 0;
    background: rgb(213, 241, 241);
    border: solid black 2px;
    border-radius: 5px;
    margin: 0 40%;
    cursor: pointer;
}

.background-option input[type=color]{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 10px;
}

.background-sample{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border: solid black 2px;
    border-radius: 50%;
}

.background-option p{
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100px;
}

.background-plain{
    background: white;
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-gold-sheet{
    background-image: url("img/goldSheetBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-rosegold-sheet{
    background-image: url("img/rosegoldSheetBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-silver-sheet{
    background-image: url("img/silverSheetBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-fur-blanket{
    background-image: url("img/furBlanketBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-plaid-blanket{
    background-image: url("img/plaidBlanketBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-red-violet-ink{
    background-image: url("img/redVioletInkBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-glitter-confetti{
    background-image: url("img/glitterConfettiBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-pastel-glitter{
    background-image: url("img/pastelGlitterBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-gold-foil{
    background-image: url("img/goldFoilBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-green-and-orange-watercolor{
    background-image: url("img/greenAndOrangeWatercolorBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-slate-blue-watercolor{
    background-image: url("img/slateBlueWatercolorBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-marbled-ink{
    background-image: url("img/marbledInkBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-jagged-marble{
    background-image: url("img/jaggedMarbleBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-wood{
    background-image: url("img/woodBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-amber-space{
    background-image: url("img/amberSpaceBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-indigo-space{
    background-image: url("img/indigoSpaceBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-calm-clouds{
    background-image: url("img/calmCloudsBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-clear-sunset{
    background-image: url("img/clearSunsetBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-calm-water{
    background-image: url("img/calmWaterBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-black-steam{
    background-image: url("img/blackSteamBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}

.background-black-rain{
    background-image: url("img/blackRainBackground.jpg");
    background-size: cover;
    padding: 20px 0 20px 0;
}